h1{
    font-size: 17px;
    font-weight: bold;
}
h2{
    font-size: 15px;
}
.filterBox{
    width: 250px;
    height: auto;
    margin: 50px 0px ;
    border: 3px solid rgb(230, 230, 230);
    border-radius: 8px;
}

.filterBoxOption{
    border-bottom: 1px solid rgb(230,230,230);
    height: auto;
    padding: 15px 30px;
}







.ant-checkbox-wrapper:hover .ant-checkbox-inner {
    border-color: red !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
    background-color: red !important;
    border-color: red !important;
}
:where(.css-dev-only-do-not-override-1ae8k9u).ant-slider .ant-slider-handle:hover::after, :where(.css-dev-only-do-not-override-1ae8k9u).ant-slider .ant-slider-handle:active::after, :where(.css-dev-only-do-not-override-1ae8k9u).ant-slider .ant-slider-handle:focus::after {
    box-shadow: 0 0 0 4px red;
}
:where(.css-dev-only-do-not-override-1ae8k9u).ant-slider .ant-slider-handle::after {
    box-shadow: 0 0 0 2px red;
}
:where(.css-dev-only-do-not-override-1ae8k9u).ant-slider:hover .ant-slider-handle::after {
    box-shadow: 0 0 0 2px #ff4d4f;
}